# Packages installed by straight.el.
straight/build-cache.el
straight/build/
straight/repos/

# Setting made in graphical interface go into custom.el.
# I don't use it and prefer to put everything into init.el.
custom.el

# Something related to auto save. I turned it off in the config but the
# directory keep appearing.
auto-save-list

# Persisted state of treemacs package.
treemacs-workspaces

# Index built from org files by org-roam package.
org-roam.db

# Some trash.
.cache
.lsp-session-*
